<a href="https://colab.research.google.com/github/Ryuta27/colaboratory/blob/main/outfit_association_rule_mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [ ]:
## Read dataset
dataset = pd.read_csv('outfit.csv')
dataset.head()

    top   bottom   shoes accessories occasion
0  top3  bottom5  shoes4         hat     work
1  top2  bottom1  shoes3       watch  holiday
2  top3  bottom5  shoes4         hat     work
3  top3  bottom5  shoes4         hat     work
4  top3  bottom5  shoes4         hat     work

In [ ]:
## Change dataset from dataframe to numpy for transaction encoder
dataset = dataset.to_numpy()

In [ ]:
## One hot encording
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
te_ary

array([[False, False,  True, False,  True, False, False, False,  True,
        False,  True, False,  True],
       [ True, False, False, False, False,  True, False,  True, False,
         True, False,  True, False],
       [False, False,  True, False,  True, False, False, False,  True,
        False,  True, False,  True],
       [False, False,  True, False,  True, False, False, False,  True,
        False,  True, False,  True],
       [False, False,  True, False,  True, False, False, False,  True,
        False,  True, False,  True],
       [ True, False, False,  True,  True, False,  True, False, False,
         True, False, False, False],
       [False, False,  True, False,  True, False, False, False,  True,
        False,  True, False,  True],
       [False, False,  True, False, False, False, False, False,  True,
        False,  True,  True,  True],
       [False, False,  True, False,  True, False, False, False,  True,
        False,  True, False,  True],
       [False, False,  True, False,  True, False, False, False,  True,
        False,  True, False,  True],
       [False,  True, False,  True,  True, False,  True, False, False,
         True, False, False, False],
       [False,  True, False,  True,  True, False,  True, False, False,
         True, False, False, False],
       [False,  True, False,  True,  True, False,  True, False, False,
         True, False, False, False],
       [False,  True, False,  True,  True, False,  True, False, False,
         True, False, False, False],
       [False,  True, False,  True,  True, False,  True, False, False,
         True, False, False, False],
       [False,  True, False,  True,  True, False,  True, False, False,
         True, False, False, False],
       [False,  True, False,  True,  True, False,  True, False, False,
         True, False, False, False],
       [False, False,  True, False,  True, False, False, False,  True,
        False,  True, False,  True],
       [False, False,  True, False,  True, False, False, False,  True,
        False,  True, False,  True],
       [False, False,  True, False,  True, False, False, False,  True,
        False,  True, False,  True],
       [False, False,  True, False,  True, False, False, False,  True,
        False,  True, False,  True],
       [False, False,  True, False,  True, False, False, False,  True,
        False,  True, False,  True]])

In [ ]:
## Change from numpy to dataframe
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,bottom1,bottom4,bottom5,event,hat,holiday,shoes2,shoes3,shoes4,top2,top3,watch,work
0,False,False,True,False,True,False,False,False,True,False,True,False,True
1,True,False,False,False,False,True,False,True,False,True,False,True,False
2,False,False,True,False,True,False,False,False,True,False,True,False,True
3,False,False,True,False,True,False,False,False,True,False,True,False,True
4,False,False,True,False,True,False,False,False,True,False,True,False,True
5,True,False,False,True,True,False,True,False,False,True,False,False,False
6,False,False,True,False,True,False,False,False,True,False,True,False,True
7,False,False,True,False,False,False,False,False,True,False,True,True,True
8,False,False,True,False,True,False,False,False,True,False,True,False,True
9,False,False,True,False,True,False,False,False,True,False,True,False,True
10,False,True,False,True,True,False,True,False,False,True,False,False,False
11,False,True,False,True,True,False,True,False,False,True,False,False,False
12,False,True,False,True,True,False,True,False,False,True,False,False,False
13,False,True,False,True,True,False,True,False,False,True,False,False,False
14,False,True,False,True,True,False,True,False,False,True,False,False,False
15,False,True,False,True,True,False,True,False,False,True,False,False,False
16,False,True,False,True,True,False,True,False,False,True,False,False,False
17,False,False,True,False,True,False,False,False,True,False,True,False,True
18,False,False,True,False,True,False,False,False,True,False,True,False,True
19,False,False,True,False,True,False,False,False,True,False,True,False,True
20,False,False,True,False,True,False,False,False,True,False,True,False,True
21,False,False,True,False,True,False,False,False,True,False,True,False,True

In [ ]:
## Find frequent itemsets by apriori algorithem(min support is 0.5)
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)
frequent_itemsets

     support                            itemsets
0   0.590909                           (bottom5)
1   0.909091                               (hat)
2   0.590909                            (shoes4)
3   0.590909                              (top3)
4   0.590909                              (work)
5   0.545455                      (hat, bottom5)
6   0.590909                   (shoes4, bottom5)
7   0.590909                     (top3, bottom5)
8   0.590909                     (bottom5, work)
9   0.545455                       (hat, shoes4)
10  0.545455                         (top3, hat)
11  0.545455                         (hat, work)
12  0.590909                      (top3, shoes4)
13  0.590909                      (shoes4, work)
14  0.590909                        (top3, work)
15  0.545455              (hat, shoes4, bottom5)
16  0.545455                (top3, hat, bottom5)
17  0.545455                (hat, bottom5, work)
18  0.590909             (top3, shoes4, bottom5)
19  0.590909             (shoes4, bottom5, work)
20  0.590909               (top3, bottom5, work)
21  0.545455                 (top3, hat, shoes4)
22  0.545455                 (hat, shoes4, work)
23  0.545455                   (top3, hat, work)
24  0.590909                (top3, shoes4, work)
25  0.545455        (top3, hat, shoes4, bottom5)
26  0.545455        (hat, shoes4, bottom5, work)
27  0.545455          (top3, hat, bottom5, work)
28  0.590909       (top3, shoes4, bottom5, work)
29  0.545455           (top3, hat, shoes4, work)
30  0.545455  (top3, hat, shoes4, work, bottom5)

In [ ]:
## Find association rule from frequent itemsets above
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(bottom5),(hat),0.590909,0.909091,0.545455,0.923077,1.015385,0.008264,1.181818
1,(shoes4),(bottom5),0.590909,0.590909,0.590909,1.000000,1.692308,0.241736,inf
2,(bottom5),(shoes4),0.590909,0.590909,0.590909,1.000000,1.692308,0.241736,inf
3,(top3),(bottom5),0.590909,0.590909,0.590909,1.000000,1.692308,0.241736,inf
4,(bottom5),(top3),0.590909,0.590909,0.590909,1.000000,1.692308,0.241736,inf
...,...,...,...,...,...,...,...,...,...
160,"(bottom5, work)","(top3, hat, shoes4)",0.590909,0.545455,0.545455,0.923077,1.692308,0.223140,5.909091
161,(top3),"(hat, shoes4, work, bottom5)",0.590909,0.545455,0.545455,0.923077,1.692308,0.223140,5.909091
162,(shoes4),"(top3, hat, bottom5, work)",0.590909,0.545455,0.545455,0.923077,1.692308,0.223140,5.909091
163,(work),"(top3, hat, shoes4, bottom5)",0.590909,0.545455,0.545455,0.923077,1.692308,0.223140,5.909091
164,(bottom5),"(top3, hat, shoes4, work)",0.590909,0.545455,0.545455,0.923077,1.692308,0.223140,5.909091

In [ ]:
## Find association rule from frequent itemsets above by different parameters
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(shoes4),(bottom5),0.590909,0.590909,0.590909,1.000000,1.692308,0.241736,inf
1,(bottom5),(shoes4),0.590909,0.590909,0.590909,1.000000,1.692308,0.241736,inf
2,(top3),(bottom5),0.590909,0.590909,0.590909,1.000000,1.692308,0.241736,inf
3,(bottom5),(top3),0.590909,0.590909,0.590909,1.000000,1.692308,0.241736,inf
4,(bottom5),(work),0.590909,0.590909,0.590909,1.000000,1.692308,0.241736,inf
...,...,...,...,...,...,...,...,...,...
145,"(bottom5, work)","(top3, hat, shoes4)",0.590909,0.545455,0.545455,0.923077,1.692308,0.223140,5.909091
146,(top3),"(hat, shoes4, work, bottom5)",0.590909,0.545455,0.545455,0.923077,1.692308,0.223140,5.909091
147,(shoes4),"(top3, hat, bottom5, work)",0.590909,0.545455,0.545455,0.923077,1.692308,0.223140,5.909091
148,(work),"(top3, hat, shoes4, bottom5)",0.590909,0.545455,0.545455,0.923077,1.692308,0.223140,5.909091
149,(bottom5),"(top3, hat, shoes4, work)",0.590909,0.545455,0.545455,0.923077,1.692308,0.223140,5.909091

In [ ]:
## Filter antecedents by "work"
rules[rules['antecedents'] == {'work'}]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
5,(work),(bottom5),0.590909,0.590909,0.590909,1.000000,1.692308,0.241736,inf
9,(work),(shoes4),0.590909,0.590909,0.590909,1.000000,1.692308,0.241736,inf
11,(work),(top3),0.590909,0.590909,0.590909,1.000000,1.692308,0.241736,inf
23,(work),"(hat, bottom5)",0.590909,0.545455,0.545455,0.923077,1.692308,0.223140,5.909091
35,(work),"(shoes4, bottom5)",0.590909,0.590909,0.590909,1.000000,1.692308,0.241736,inf
41,(work),"(top3, bottom5)",0.590909,0.590909,0.590909,1.000000,1.692308,0.241736,inf
49,(work),"(hat, shoes4)",0.590909,0.545455,0.545455,0.923077,1.692308,0.223140,5.909091
53,(work),"(top3, hat)",0.590909,0.545455,0.545455,0.923077,1.692308,0.223140,5.909091
59,(work),"(top3, shoes4)",0.590909,0.590909,0.590909,1.000000,1.692308,0.241736,inf
83,(work),"(hat, shoes4, bottom5)",0.590909,0.545455,0.545455,0.923077,1.692308,0.223140,5.909091
95,(work),"(top3, hat, bottom5)",0.590909,0.545455,0.545455,0.923077,1.692308,0.223140,5.909091
109,(work),"(top3, shoes4, bottom5)",0.590909,0.590909,0.590909,1.000000,1.692308,0.241736,inf
121,(work),"(top3, hat, shoes4)",0.590909,0.545455,0.545455,0.923077,1.692308,0.223140,5.909091
148,(work),"(top3, hat, shoes4, bottom5)",0.590909,0.545455,0.545455,0.923077,1.692308,0.223140,5.909091